.layout-common{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.module-plusminus-controls{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.module-summaries-controls{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
