@import "styles/reset";

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 10px;
}
.tooltip{
  display: none;
  &.show-tooltip{
    display: block;
    position: absolute;
  }
}
.tooltip-container{
  color: coral;
}
